body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  background: linear-gradient(10deg, #a1d9b4 20%, #32988a 40%, #000e3c 70%);
  height: 130vh;
  
}

button {
  cursor: pointer;
}

